<!DOCTYPE html>
<html data-bs-theme="light">
<head>
    <%- include('../PARTIALS/head') %>
    <title>Index</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include('../PARTIALS/navbar') %>
    <main class="page" style="background: #ffffff;">
        <section>
            <h1 style="text-align: center;font-weight: bold;font-family: Lato, sans-serif;padding: 12px;background: #000000;color: var(--bs-body-bg);font-size: 50px;">WE PLAY THESE GAMES</h1>
        </section>
        <section style="padding: 15px 15px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div><a href="/OVERWATCH_TEAMS"><img class="zoom-img team-xs" src="assets/img/Rosters/Roster_Overwatch.png" style="width: 100%;padding-bottom: 15px;"></a>
                            <p style="text-align: center;font-size: 30px;font-weight: bold;font-family: Lato, sans-serif;color: #ffffff;background: #000000;">OVERWATCH</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div><a href="/ROCKET_TEAMS"><img class="zoom-img team-xs" src="assets/img/Rosters/Roster_RocketLeague.png" style="width: 100%;padding-bottom: 15px;"></a>
                            <p style="text-align: center;font-size: 30px;font-weight: bold;font-family: Lato, sans-serif;color: #ffffff;background: #000000;">ROCKET LEAGUE</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div><a href="/VALORANT_TEAMS"><img class="zoom-img team-xs" src="assets/img/Rosters/Roster_Valorant.png" style="width: 100%;padding-bottom: 15px;"></a>
                            <p style="text-align: center;font-size: 30px;font-weight: bold;font-family: Lato, sans-serif;color: #ffffff;background: #000000;">VALORANT</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row justify-content-center" style="padding: 15px 15px;">
                    <div class="col-md-4">
                        <div><a href="/FORTNITE_TEAMS"><img class="zoom-img team-xs" src="assets/img/Rosters/Roster_Fortnite.png" style="width: 100%;padding-bottom: 15px;"></a>
                            <p style="text-align: center;font-size: 30px;font-weight: bold;font-family: Lato, sans-serif;color: #ffffff;background: #000000;">FORTNITE</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div><a href="/MARVELRIVALS_TEAMS"><img class="zoom-img team-xs" src="assets/img/Rosters/Roster_MarvelRivals.png" style="padding-bottom: 15px;width: 100%;"></a>
                            <p style="text-align: center;font-size: 30px;font-weight: bold;font-family: Lato, sans-serif;color: #ffffff;background: #000000;">MARVEL RIVALS</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="equipo-inactivo" style="position: relative;">
                            <p class="d-xxl-flex texto-inclinado" style="color: var(--bs-emphasis-color);font-size: 55px;position: absolute;font-weight: bold;margin-left: 0px;margin-top: 0px;"><strong>COMING SOON</strong></p><img class="zoom-img team-xs" src="assets/img/Rosters/Roster_FreeFire.png" style="width: 100%;padding-bottom: 15px;"><a href="#"></a>
                            <p style="text-align: center;font-size: 30px;font-weight: bold;font-family: Lato, sans-serif;color: #ffffff;background: #000000;">FREE FIRE</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="background: #ffffff;padding: 15px 15px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="equipo-inactivo" style="position: relative;">
                            <p class="d-xxl-flex texto-inclinado" style="color: var(--bs-emphasis-color);font-size: 55px;position: absolute;font-weight: bold;margin-left: 0px;margin-top: 0px;"><strong>COMING SOON</strong></p><img class="zoom-img team-xs" src="assets/img/Rosters/Roster_LOL.png" style="width: 100%;padding-bottom: 15px;"><a href="#"></a>
                            <p style="text-align: center;font-size: 30px;font-weight: bold;font-family: Lato, sans-serif;color: #ffffff;background: #000000;">LEAGUE OF LEGENDS</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="equipo-inactivo" style="position: relative;">
                            <p class="d-xxl-flex texto-inclinado" style="color: var(--bs-emphasis-color);font-size: 55px;position: absolute;font-weight: bold;margin-left: 0px;margin-top: 0px;">COMING SOON</p><img class="zoom-img team-xs" src="assets/img/Rosters/Roster_COD.png" style="width: 100%;padding-bottom: 15px;"><a href="#"></a>
                            <p style="text-align: center;font-size: 30px;font-weight: bold;font-family: Lato, sans-serif;color: #ffffff;background: #000000;">CALL OF DUTY</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="background: #000000;height: 10px;"></section>
    </main>
    <%- include('../PARTIALS/footer') %>
    <%- include('../PARTIALS/scripts') %>
</body>

</html>