<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <title>Products</title>
    <%- include('../PARTIALS/head') %>
</head>

<body>
    
    <%- include('../PARTIALS/navbar') %>
    <main class="page" style="background: #ffffff;">
        <section class="portfolio-block projects-cards" style="color: #000000;padding: 10px 0px;">
            <div class="container" style="min-height: 700px;">
                <div class="heading" style="margin-bottom: 10px;">
                    <h2 style="color: #000000;font-weight: bold;text-align: center;font-family: Aclonica, sans-serif;">official products</h2>
                </div>
                <div data-reflow-type="product-search" style="padding-bottom: 10px;"></div>
                <div data-reflow-type="product-list" data-reflow-shoppingcart-url="CART.html" data-reflow-order="date_desc" style="color: #000000;font-weight: bold;"></div>
            </div>
        </section>
    </main>
    
    <%- include('../PARTIALS/footer') %>
    <%- include('../PARTIALS/scripts') %>
</body>

</html>