<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <title>Overwatch Teams</title>
    <%- include('../PARTIALS/head') %>

<body>
    
    <%- include('../PARTIALS/navbar') %>
    <main class="seccion-superior">
        <section style="background: #ffffff;">
            <div style="width: 100%;height: 600px;"><img class="logo_portada" src="../assets/img/Wallpaper/Wallpaper_MarvelRivals.jpg" style="width: 100%;"></div>
        </section>
        <section class="d-lg-flex justify-content-lg-center align-items-lg-center" style="background: #000000;height: 100px;">
            <h1 style="text-align: center;color: #ffffff;font-weight: bold;font-size: 40px;font-family: Lato, sans-serif;">MARVEL RIVALS TEAMS</h1>
        </section>
        <section>
            <div class="container" style="padding-top: 20px;padding-bottom: 20px;">
                <div class="row">
                    <div class="col d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" style="padding-top: 12px;padding-bottom: 12px;">
                        <div class="img-card equipo-inactivo" style="height: 400px;min-width: 300px;max-width: 300px;background: var(--bs-secondary-color);">
                            <div class="img-fluid"></div><img class="border rounded-0 img-fluid zoom-img" src="../assets/img/Seraphim/Logo_S2_Seraphim.jpeg">
                            <div class="info-box">
                                <h2 style="font-weight: bold;color: #ffffff;font-size: 30px;text-align: center;">SERAPHIM</h2>
                                <h2 style="font-weight: bold;color: #ffffff;font-size: 30px;text-align: center;height: 30px;">(MARVEL RIVALS)</h2>
                                <hr><a href="https://docs.google.com/forms/d/e/1FAIpQLSdaDixe350cK4m6_p7Np-yvQo8RImbFEajzEMYTsu9jejM2GA/viewform?usp=publish-editor">
                                    <p class="zoom-img" style="text-align: center;color: #ffffff;font-size: 20px;">OPEN POSITIONS&gt;&gt;</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="background: #000000;height: 10px;"></section>
    </main>
    
    <%- include('../PARTIALS/footer') %>
    <%- include('../PARTIALS/scripts') %>
</body>

</html>