<!DOCTYPE html>
<html data-bs-theme="light">
<head>
    <%- include('/partials/head') %>
    <title>Index</title>
</head>

<body class="d-flex flex-column min-vh-100">

    <%- include('partials/navbar') %>

    <main class="page flex-grow-1" style="color: var(--bs-emphasis-color);background: #ffffff;">
        <section class="portfolio-block block-intro" style="padding: 0;">
            <img style="width: 100%;" src="/assets/img/Seraphim/Video_Intro.gif">
        </section>
    </main>

    <%- include('/partials/footer') %>
    <%- include('/partials/scripts') %>

</body>
</html>