<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <title>Overwatch Teams</title>
    <%- include('../partials/head') %>
</head>

<body>
    
    <%- include('../partials/navbar') %>
    <main class="seccion-superior">
        <section class="d-flex d-lg-flex justify-content-center align-items-center seccion-superior2" style="background: url(&quot;../assets/img/Seraphim/Banner_Vacio.jpeg&quot;) center / cover, var(--bs-border-color-translucent);">
            <div class="seccion-xs" style="background: transparent;">
                <h1 style="text-align: center;color: #ffffff;font-weight: bold;font-size: 40px;font-family: Lato, sans-serif;">SERAPHIM<br>MEMBERS</h1>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" style="padding-top: 12px;padding-bottom: 12px;">
                    <div class="img-card" style="height: 350px;width: 250px;">
                        <div class="img-fluid"></div><img class="img-fluid zoom-img" src="../assets/img/Members/AKROMIC.jpeg">
                        <div class="info-box">
                            <h2 style="font-weight: bold;color: #ffffff;font-size: 30px;text-align: center;">AKROMIC</h2>
                            <hr><a href="/players/akromic">
                                <p class="zoom-img" style="text-align: center;color: #ffffff;font-size: 20px;">PLAYER DESCRIPTION&gt;&gt;</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" style="padding-top: 12px;padding-bottom: 12px;">
                    <div class="img-card" style="height: 350px;width: 250px;">
                        <div class="img-fluid"></div><img class="img-fluid zoom-img" src="../assets/img/Members/KAPO.png">
                        <div class="info-box">
                            <h2 style="font-weight: bold;color: #ffffff;font-size: 30px;text-align: center;">KAPO</h2>
                            <hr><a href="/players/kapo">
                                <p class="zoom-img" style="text-align: center;color: #ffffff;font-size: 20px;">PLAYER DESCRIPTION&gt;&gt;<br><br></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" style="padding-top: 12px;padding-bottom: 12px;">
                    <div class="img-card" style="height: 350px;width: 250px;">
                        <div class="img-fluid"></div><img class="img-fluid zoom-img" src="../assets/img/Members/ERIS.jpeg">
                        <div class="info-box">
                            <h2 style="font-weight: bold;color: #ffffff;font-size: 30px;text-align: center;">ERIS</h2>
                            <hr><a href="/players/eris">
                                <p class="zoom-img" style="text-align: center;color: #ffffff;font-size: 20px;">PLAYER DESCRIPTION&gt;&gt;<br><br></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" style="padding-top: 12px;padding-bottom: 12px;">
                    <div class="img-card" style="height: 350px;width: 250px;">
                        <div class="img-fluid"></div><img class="img-fluid zoom-img" src="../assets/img/Members/beck.jpg">
                        <div class="info-box">
                            <h2 style="font-weight: bold;color: #ffffff;font-size: 30px;text-align: center;">BECK</h2>
                            <hr><a href="/players/beck">
                                <p class="zoom-img" style="text-align: center;color: #ffffff;font-size: 20px;">PLAYER DESCRIPTION&gt;&gt;<br><br></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" style="padding-top: 12px;padding-bottom: 12px;">
                    <div class="img-card" style="height: 350px;width: 250px;">
                        <div class="img-fluid"></div><img class="img-fluid zoom-img" src="../assets/img/Members/BUNNY.jpeg">
                        <div class="info-box">
                            <h2 style="font-weight: bold;color: #ffffff;font-size: 30px;text-align: center;">BUNNY</h2>
                            <hr><a href="/players/bunny">
                                <p class="zoom-img" style="text-align: center;color: #ffffff;font-size: 20px;">PLAYER DESCRIPTION&gt;&gt;<br><br></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="background: #000000;height: 10px;"></section>
    </main>
    
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>

</html>