<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <title>Overwatch Teams</title>
    <%- include('../PARTIALS/head') %>
</head>

<body>
    
    <%- include('../PARTIALS/navbar') %>
    <main class="seccion-superior">
        <section class="d-flex d-lg-flex justify-content-center align-items-center seccion-superior2" style="background: url(&quot;../assets/img/Seraphim/Banner_Vacio.jpeg&quot;) center / cover no-repeat;">
            <div class="seccion-xs">
                <h1 class="cyberpunk-text" style="text-align: center;font-family: 'Platinum Sign Over';">VOID<br>MEMBERS</h1>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" style="padding-top: 12px;padding-bottom: 12px;">
                    <div class="img-card" style="height: 350px;width: 250px;">
                        <div class="img-fluid"></div><img class="img-fluid zoom-img" src="../assets/img/Members/Arudo.jpeg">
                        <div class="info-box">
                            <h2 style="font-weight: bold;color: #ffffff;font-size: 30px;text-align: center;">ARUDO</h2>
                            <hr><a href="/PLAYERS/ARUDO">
                                <p class="zoom-img" style="text-align: center;color: #ffffff;font-size: 20px;">PLAYER DESCRIPTION&gt;&gt;</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" style="padding-top: 12px;padding-bottom: 12px;">
                    <div class="img-card" style="height: 350px;width: 250px;">
                        <div class="img-fluid"></div><img class="img-fluid zoom-img" src="../assets/img/Members/Lazy.jpg">
                        <div class="info-box">
                            <h2 style="font-weight: bold;color: #ffffff;font-size: 30px;text-align: center;">LAZY</h2>
                            <hr><a href="/PLAYERS/LAZY.">
                                <p class="zoom-img" style="text-align: center;color: #ffffff;font-size: 20px;">PLAYER DESCRIPTION&gt;&gt;<br><br></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" style="padding-top: 12px;padding-bottom: 12px;">
                    <div class="img-card" style="height: 350px;width: 250px;">
                        <div class="img-fluid"></div><img class="img-fluid zoom-img" src="../assets/img/Members/MIKU.jpeg">
                        <div class="info-box">
                            <h2 style="font-weight: bold;color: #ffffff;font-size: 30px;text-align: center;">MIKU</h2>
                            <hr><a href="/PLAYERS/MIKU">
                                <p class="zoom-img" style="text-align: center;color: #ffffff;font-size: 20px;">PLAYER DESCRIPTION&gt;&gt;<br><br></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" style="padding-top: 12px;padding-bottom: 12px;">
                    <div class="img-card" style="height: 350px;width: 250px;">
                        <div class="img-fluid"></div><img class="img-fluid zoom-img" src="../assets/img/Members/ARTIC.jpeg">
                        <div class="info-box">
                            <h2 style="font-weight: bold;color: #ffffff;font-size: 30px;text-align: center;">ARCTIC</h2>
                            <hr><a href="/PLAYERS/ARCTIC">
                                <p class="zoom-img" style="text-align: center;color: #ffffff;font-size: 20px;">PLAYER DESCRIPTION&gt;&gt;<br><br></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" style="padding-top: 12px;padding-bottom: 12px;">
                    <div class="img-card" style="height: 350px;width: 250px;">
                        <div class="img-fluid"></div><img class="img-fluid zoom-img" src="../assets/img/Members/ROMILICENSE.jpeg">
                        <div class="info-box">
                            <h2 style="font-weight: bold;color: #ffffff;font-size: 30px;text-align: center;">ROMILICENSE</h2>
                            <hr><a href="/PLAYERS/ROMILICENSE">
                                <p class="zoom-img" style="text-align: center;color: #ffffff;font-size: 20px;">PLAYER DESCRIPTION&gt;&gt;<br><br></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" style="padding-top: 12px;padding-bottom: 12px;">
                    <div class="img-card" style="height: 350px;width: 250px;">
                        <div class="img-fluid"></div><img class="img-fluid zoom-img" src="../assets/img/Members/TOXIC.jpeg">
                        <div class="info-box">
                            <h2 style="font-weight: bold;color: #ffffff;font-size: 30px;text-align: center;">TOXIC</h2>
                            <hr><a href="/PLAYERS/TOXIC">
                                <p class="zoom-img" style="text-align: center;color: #ffffff;font-size: 20px;">PLAYER DESCRIPTION&gt;&gt;<br><br></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" style="padding-top: 12px;padding-bottom: 12px;">
                    <div class="img-card" style="height: 350px;width: 250px;">
                        <div class="img-fluid"></div><img class="img-fluid zoom-img" src="../assets/img/Members/ANSUS.jpeg">
                        <div class="info-box">
                            <h2 style="font-weight: bold;color: #ffffff;font-size: 30px;text-align: center;">ANSUS</h2>
                            <hr><a href="/PLAYERS/ANSUS">
                                <p class="zoom-img" style="text-align: center;color: #ffffff;font-size: 20px;">PLAYER DESCRIPTION&gt;&gt;<br><br></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="background: #000000;height: 10px;"></section>
    </main>
    
    <%- include('../PARTIALS/footer') %>
    <%- include('../PARTIALS/scripts') %>
</body>

</html>