<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cart</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v2/toolkit.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aboreto&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC&amp;display=swap">
    <link rel="stylesheet" href="assets/css/Blockletter.css">
    <link rel="stylesheet" href="assets/css/Orbitron.css">
    <link rel="stylesheet" href="assets/css/Platinum%20Sign%20Over.css">
    <link rel="stylesheet" href="assets/css/Platinum%20Sign%20Under.css">
    <link rel="stylesheet" href="assets/css/cart.css">
    <link rel="stylesheet" href="assets/css/fuente.css">
    <link rel="stylesheet" href="assets/css/image-container.css">
    <link rel="stylesheet" href="assets/css/Image-equipos.css">
    <link rel="stylesheet" href="assets/css/pikaday.min.css">
</head>

<body style="background: #ffffff;">
    <nav class="navbar navbar-expand-lg fixed-top portfolio-navbar gradient navbar-dark" style="background: var(--bs-emphasis-color);">
        <div class="container"><img src="assets/img/Seraphim/Logo1.png" width="75" height="74" style="width: 50PX;height: 50PX;"><a class="navbar-brand logo" href="index.html" style="text-align: left;font-weight: bold;font-family: Lato, sans-serif;">SERAPHIM</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="PRODUCTOS.html" style="font-weight: bold;font-family: Lato, sans-serif;">SHOP</a></li>
                    <li class="nav-item d-flex align-items-center align-content-center">
                        <div class="nav-item dropdown show" style="font-weight: bold;"><a class="dropdown-toggle" aria-expanded="true" data-bs-toggle="dropdown" href="#" style="color: #ffffff;">STAFF</a>
                            <div class="dropdown-menu show" data-bs-popper="none" style="background: #000000;"><a class="dropdown-item dropdown-item" href="STAFF/STAFF_MEMBERS.html" style="color: #ffffff;font-weight: bold;">ADMINISTRATORS</a><a class="dropdown-item dropdown-item" href="STAFF/COACHES.html" style="color: #ffffff;font-weight: bold;">COACHES</a><a class="dropdown-item dropdown-item" href="STAFF/STAFF_MEMBERS.html" style="color: #ffffff;font-weight: bold;">SPONSORS</a></div>
                        </div>
                    </li>
                    <li class="nav-item d-flex d-xl-flex d-xxl-flex align-items-center align-items-xxl-center">
                        <div class="nav-item dropdown" style="font-weight: bold;"><a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: #ffffff;">JOIN THE TEAM</a>
                            <div class="dropdown-menu" style="background: #000000;"><a class="dropdown-item dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSdaDixe350cK4m6_p7Np-yvQo8RImbFEajzEMYTsu9jejM2GA/viewform?usp=publish-editor" style="color: #ffffff;font-weight: bold;">PLAYER</a><a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSdY7r2d-12E820Co3sPruXM2_DKV6htubtKpTnFByJJreSDVQ/viewform?usp=dialog" style="color: #ffffff;font-weight: bold;">STAFF</a></div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="EQUIPOS.html" style="font-weight: bold;font-family: Lato, sans-serif;">TEAMS</a></li>
                </ul>
                <div data-reflow-type="auth-button" style="font-family: Lato, sans-serif;color: var(--bs-body-bg);font-weight: bold;"></div>
            </div>
        </div>
    </nav>
    <main>
        <section style="color: var(--bs-body-bg);">
            <div data-reflow-type="shopping-cart" style="color: #000000;"></div>
        </section>
    </main>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.reflowhq.com/v2/toolkit.min.js" data-reflow-project="700010000"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>